.country-cards {
  margin-top: 90px;
  &__wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  margin-bottom: 80px;
}


@media (max-width: 876px) {
  .country-cards__wrapper {
    display: flex;
    justify-content: center;
  }
}
