.profile-card {
  position: absolute;
  right: 105px;
  top: 85px;
  max-width: 435px;
  border: none;
  border-radius: 15px;
  background: #e4e3ffa6;


  &--hide {
    display: none;
  }

  &-header {
    width: 260px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  

&__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}

.email:disabled {
  color: black;
  cursor: default;
}

.photo__title {
  margin-right: 10px;
}

.photo {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.avatar {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form__btn {
  margin-top: 40px;
}